<section>
    <form action="/book" method="POST" id="addBookForm">
        <p class="closeWindow">X</p>
        <% if(method === 'PUT') { %>
        <input type=“hidden” name=“_method” value=“put”>
        <% } %>
        <input class='title' type="text" name="title">
        <input class='author' type="text" name="author">
        <input class='isbn' type="text" name="isbn">
        <input class="image_url" type="text" name="image_url">
        <textarea class='description' cols="30" rows="15" name="description"></textarea>
        <input class='bookshelf' type="text" placeholder="Enter a Bookshelf Name" name="bookshelf" required>
        <button type='submit'>Add To Database</button>
    </form>
</section>