<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/6454e26792.js"></script>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/icons.css">

    <title>Search Results</title>
</head>

<body>
    <div class="dark"></div>
    <header>
        <%- include ../../layout/header %>
    </header>

    <%- include('../books/edit', {method: 'POST', bookshelves: bookshelves}) %>

    <main>
        <h2>Search Results</h2>

        <% searchResults.forEach((book,index) =>{ %>

        <div class="book">
            <%- include ../books/detail %>
            <button class='select-book'>Select This Book</button>
        </div>
        <% }) %>

    </main>

    <footer>
        <%- include ../../layout/footer %>
    </footer>
</body>

</html>