
body {
  background-color: lightgray;

}

nav {
  background-color: black;
  color: whitesmoke;
}


main h2 {
  background-color: grey;
  color: whitesmoke;

}

form fieldset {
  background-color: burlywood;
}
